html, body {
  overflow-y: visible; 
}

body {
  background-color: #fefefe; 
  margin: 0;
  padding: 0;
}

h1 {
  position: absolute;
  bottom: 20px;
  text-align: center;
  width: 100%;
  line-height: 120%;
  font-family: Arial, sans-serif;
  color: rgb(66,66,66);
  letter-spacing: -0.05em;
}



#face { stroke-width: 2px; stroke: #fff; }

#hour, #min, #sec { stroke-width: 1px; fill: #333; stroke: #555; }

#sec { stroke: #f55; }

fieldset {
	padding: 10px; 
}

.box { 
	background-color: #fafafa; 
}

.box br {
	clear: both;
}

.box input[type="text"] {
	width: 80%; 
	float: right; 
}

